* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

.menu-navigation-web{
    display: flex;
    background-image: linear-gradient(to bottom right, #3f87a6 1%, #ebf8e1 33%, #f69d3c 121%);
    border-bottom: 1px solid grey;
    box-shadow: 1px 1px 1px 2px #aaaaaa;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo-title {
    padding-left: 19px;
    font-size: 38px;
    background: -webkit-linear-gradient(45deg, #f69d3c, #3f87a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    
}

.menu-nav-m {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
}

.und-menu-nav {
    font-weight: bolder;
    padding-right: 0.8rem;
}

.main-body {
    background-color: #fff2f2;
}

.button-menu-nav {
    margin-right: 0.5rem;
    padding: 0.6rem;
    background-color: #6cc0cb;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.logo-menu-nav {
    width: 5rem;
    height: 4rem;
    /* position: fixed; */
}

.button-menu-nav:hover {
    box-shadow: 2px 2px 2px 2px #1b9fb0;
}


.mySlides {
    display: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 2.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 2.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 15.4px rgba(0, 0, 0, 0.086),
    0 40px 40px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 1100px;
    position: relative;
   margin-left: auto;
   margin-right: auto;
    padding-top: 1rem;
    overflow: hidden;
  }

  .img-slide-n {
        width: 1100px;
        height: 700px;
        background-size: cover;
        border-radius: 5px;
        align-items: center;

  }
  

  .text {
    color: #ffffff;
    background-color: #393a3c73;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 150px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.dots-slide-m{
    display: none;
}
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


  /* Footer */


  footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  .footer-wrap-mm {
        display: grid;
  }
  .footer_per_links_n {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    margin: 0;
  }
  .footer_links-n:not(:first-child) {

    margin-top: 0.8em;
  }
  .footer_per_links_n .footer_links-n a {
    color: #a7a7a7;
    text-decoration: none;
  }
  .footer_per_links_n .footer_links-n a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  
 
  /* video */

  .work-section-n {
    width: 100%;
  height: 100vh;
  position: relative;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}    
.text-check-m {
    position: relative;
    margin: auto;
    text-align: center;
   padding-top: 6rem;
    color:white;
}
.fa-solid{
    padding-right: 20px;
    font-size: xx-large;
    font-size: 38px;
    background: -webkit-linear-gradient(45deg, #f69d3c, #3f87a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-p-n {
    display: flex;
    justify-content: center;
}
.text-p-n > p {
    padding: 25px;
    text-align: center;
}

.info-text-n > h1{
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

.p-tag-text {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 15px;
}

.p-tag-text > p {
    margin: 3rem;
    padding: 2rem;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

/* COMMAND SECTION */

:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}

/* components */
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five';

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.testimonial {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 33em) {
  .testimonial-grid {
      grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
  }
}

@media screen and (min-width: 38em) {
  .testimonial-grid {
    grid-template-areas:
     'one one'
     'two five'
     'three five'
     'four four';
  }
}

@media screen and (min-width: 54em) {
  .testimonial-grid {
      grid-template-areas:
      "one one two"
      "five five five"
      "three four four";
  }
}

@media screen and (min-width: 75em) {
  .testimonial-grid {
      grid-template-areas:
      "one one two five"
      "three four four five";
  }
}


.testimonial.quote {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.testimonial .name {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1;
}

.testimonial .position {
  font-size: var(--fs-300);
  opacity: 0.5;
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}


.title-opinion-n {
  text-align: center;
  font-weight: bolder;
}
